# Introduction to Pandas

Pandas is an open-source data manipulation and analysis library for Python. It provides data structures and functions needed to manipulate and analyze structured data seamlessly. The two primary data structures in Pandas are:

- **Series:** a one-dimensional labeled array that can hold any data type. It is similar to a column in a spreadsheet or a single column in a database table.
- **DataFrame:** A two-dimensional labeled data structure with columns that can be of different data types. It is similar to a spreadsheet or a SQL table, where data is organized in rows and columns.

Key features of Pandas include:

- **Data Cleaning and Preparation:** Pandas provides functions and methods to clean and prepare data, such as handling missing values, dealing with duplicates, and transforming data.

- **Data Exploration and Analysis:** Pandas facilitates the exploration and analysis of data through various functions for summarization, grouping, aggregation, and statistical analysis.

- **Time Series Analysis:** Pandas has robust support for time series data, allowing for easy manipulation and analysis of temporal data.

- **Integration with Other Libraries:** Pandas can be seamlessly integrated with other libraries such as NumPy, Matplotlib, and scikit-learn, providing a comprehensive ecosystem for data analysis and machine learning.

- **Data Import and Export:** Pandas supports the import and export of data from various file formats, including CSV, Excel, SQL databases, and more.

## Series

As stated above, **Series** is a one-dimensional array-like object that contains a sequence of values of the same type, each identified by an appropriate label. A Series is composed of two array-like objects: one containing the sequence of values and the other containing the associated array of data labels (alled the *index*). As a convention, `pandas` is imported as `pd`.

In [103]:
# Importing necessary libraries
import pandas as pd
import numpy as np

# Creating a Pandas Series with 10 random values chosen from the range 0 to 999
my_series = pd.Series(np.random.choice(1000, size=10))

# Printing the entire Series
print("The Series:\n", my_series)

# Printing the sequence of values using the Pandas Array attribute
print("\nThe sequence of values is:\n", my_series.array)

# Printing the index of the Series
print("\nThe index is:\n", my_series.index)

The Series:
 0    844
1    817
2    134
3    698
4    427
5    224
6    450
7    786
8    743
9    490
dtype: int64

The sequence of values is:
 <NumpyExtensionArray>
[np.int64(844), np.int64(817), np.int64(134), np.int64(698), np.int64(427),
 np.int64(224), np.int64(450), np.int64(786), np.int64(743), np.int64(490)]
Length: 10, dtype: int64

The index is:
 RangeIndex(start=0, stop=10, step=1)

The index labels can be specified using the parameter `index` within the `pd.Series()` constructor, as shown below:

In [104]:
# Importing the 'string' module for character manipulation
import string

# Creating a Pandas Series with 10 random values and a custom index of the first 10 lowercase letters
my_series = pd.Series(np.random.choice(1000, size=10), index=list(string.ascii_lowercase)[0:10])

# Displaying the Series
print(my_series)

a    379
b    902
c    578
d    127
e    183
f    326
g     87
h    953
i    170
j    607
dtype: int64

The `index` of a series can be modified by assigning a new index to its attribute `pd.Series.index`.

In [105]:
# Creating a list of the first 10 uppercase letters
new_index = list(string.ascii_uppercase)[0:10]

# Shuffling the list using np.random.shuffle
np.random.shuffle(new_index)

# Displaying the shuffled index array
print(f"The new index array for my series: {new_index}")

# Assigning the shuffled index to the Pandas Series
my_series.index = new_index

# Displaying the Series with the new index
print("\nSeries with New Index:")
print(my_series)

The new index array for my series: ['E', 'F', 'C', 'B', 'H', 'A', 'I', 'J', 'G', 'D']

Series with New Index:
E    379
F    902
C    578
B    127
H    183
A    326
I     87
J    953
G    170
D    607
dtype: int64

Similarly to NumPy, values in Pandas `Series` and `DataFrame` can be accessed using various methods, such as indexing (fancy and boolean) and slicing. The syntax is exactly the same as demonstrated in the NumPy lesson.

In [106]:
# Examples of fancy and boolean indexing and slicing

# Printing the first three elements of the series using slicing
print(f"Printing the first three elements of my series:\n{my_series[:3]}")

# Printing the last three elements of my series using slicing
print(f"\nPrinting the last three elements of my series:\n{my_series[-3:]}")

# Printing three selected elements of the series using fancy indexing
print(f"\nPrinting three selected elements of my series:\n{my_series[[0, 6, 8]]}")

# Printing three selected elements of the series using label-based fancy indexing
print(f"\nPrinting three selected elements of my series:\n{my_series[['A', 'B', 'D']]}")

# Using boolean indexing to filter elements greater than 500
print(f"\nmy_series contains {(my_series > 500).sum()} values greater than 500:\n{my_series[my_series > 500]}")

Printing the first three elements of my series:
E    379
F    902
C    578
dtype: int64

Printing the last three elements of my series:
J    953
G    170
D    607
dtype: int64

Printing three selected elements of my series:
E    379
I     87
G    170
dtype: int64

Printing three selected elements of my series:
A    326
B    127
D    607
dtype: int64

my_series contains 4 values greater than 500:
F    902
C    578
J    953
D    607
dtype: int64

/tmp/ipykernel_6857/971194609.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"\nPrinting three selected elements of my series:\n{my_series[[0, 6, 8]]}")

Not only is the syntax for indexing and slicing the same as NumPy, but `Series` and `DataFrame` also preserve the same NumPy properties in mathematical operations, such as broadcasting and vectorization. Moreover, Pandas aligns data by label index, allowing mathematical operations with ease.

In [107]:
# Multiplying each element in the series by 2
print(my_series * 2, "\n")

# Performing a series of mathematical operations: multiply by 2, subtract the original series, and then subtract 1
print(my_series * 2 - my_series - 1,  "\n")

# Squaring each element in the series
print(my_series ** 2,  "\n")

E     758
F    1804
C    1156
B     254
H     366
A     652
I     174
J    1906
G     340
D    1214
dtype: int64

E    378
F    901
C    577
B    126
H    182
A    325
I     86
J    952
G    169
D    606
dtype: int64

E    143641
F    813604
C    334084
B     16129
H     33489
A    106276
I      7569
J    908209
G     28900
D    368449
dtype: int64

In [108]:
# Defining a list of cities
cities = ['Milano', 'Novara', 'Torino', 'Como', 'Catanzaro', 'Roma', 'Messina', 'Firenze', 'Venezia']

# Creating a Pandas Series (obj1) with random integer values and the specified index
obj1 = pd.Series(np.random.randint(low=10_000, high=1_000_000, size=len(cities)), index=cities)

# Creating another Pandas Series (obj2) with different random integer values and the same index
obj2 = pd.Series(np.random.randint(low=1, high=1_000, size=len(cities)), index=cities)

# Modifying specific values in obj1 and obj2
obj1['Novara'] = 0
obj2['Como'] = np.nan

obj1.name, obj2.name = 'cities population', 'cities population'
obj1.index.name, obj1.index.name = 'cities', 'cities'

# Displaying obj1, obj2, and the result of their addition
print("obj1:")
print(obj1)

print("\nobj2:")
print(obj2)

print("\nobj1 + obj2:")
print(obj1 + obj2)

obj1:
cities
Milano        98727
Novara            0
Torino       203601
Como         110665
Catanzaro    762852
Roma         366156
Messina      878029
Firenze      853350
Venezia      682968
Name: cities population, dtype: int64

obj2:
Milano       538.0
Novara       986.0
Torino       387.0
Como           NaN
Catanzaro    901.0
Roma         165.0
Messina      353.0
Firenze      227.0
Venezia      638.0
Name: cities population, dtype: float64

obj1 + obj2:
cities
Milano        99265.0
Novara          986.0
Torino       203988.0
Como              NaN
Catanzaro    763753.0
Roma         366321.0
Messina      878382.0
Firenze      853577.0
Venezia      683606.0
Name: cities population, dtype: float64

It is possible to generate a `Series` from a python list or dictionary and vice versa.

In [109]:
# Creating a Python list using the range function
my_list = list(range(0, 10))
print("Python List:\n", my_list)

# Creating a Pandas Series from the Python list
my_series = pd.Series(my_list)
print("\nPandas Series:\n", my_series)

# Converting the Pandas Series back to a Python list
_list = my_series.to_list()
print("\nPython list:\n",_list)

# Converting the Pandas Series back to a Python dict
_dict = my_series.to_dict()
print("\nPython list:\n",_dict)

# Creating a Python dictionary
my_cities_population = {'Legnano': 60_118, 'Milano': 1_358_420, 'Segrate': 36_961, 'Corsico': 34.505}
print("\nPython List:\n", my_list)

# Creating a Pandas Series from the Python list
my_series = pd.Series(my_cities_population, name='Comuni nella città metr. di Milano per popolazione')
print("\nPandas Series:\n", my_series)

Python List:
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Pandas Series:
 0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Python list:
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Python list:
 {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

Python List:
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Pandas Series:
 Legnano      60118.000
Milano     1358420.000
Segrate      36961.000
Corsico         34.505
Name: Comuni nella città metr. di Milano per popolazione, dtype: float64

`Series` and `DataFrame` may contain *NA* values. The function `pd.isna()` assesses the presence of NA value into `Series` and `DataFrame`

In [110]:
# Checking for missing values in obj1 and printing the result
print("Does obj1 contain NA?\n", obj1.isna())

# Checking for missing values in obj2 and printing the result
print("\nDoes obj2 contain NA?\n", obj2.isna())

# Checking if obj2 still contains any missing values after imputation
if obj2.isna().sum() > 0:
    # Printing a message if obj2 contains missing values
    print("\nYes, obj2 contains NA at index:\n", list(obj2[obj2.isna()].index))

Does obj1 contain NA?
 cities
Milano       False
Novara       False
Torino       False
Como         False
Catanzaro    False
Roma         False
Messina      False
Firenze      False
Venezia      False
Name: cities population, dtype: bool

Does obj2 contain NA?
 Milano       False
Novara       False
Torino       False
Como          True
Catanzaro    False
Roma         False
Messina      False
Firenze      False
Venezia      False
Name: cities population, dtype: bool

Yes, obj2 contains NA at index:
 ['Como']

## Dataframe

A `DataFrame` is a two-dimensional labeled data structure with potentially heterogeneous columns, often used for more complex and structured data. The `DataFrame` has both a row and column index. It is initialized using the function `pd.DataFrame(data, index, columns)`. If you pass a column that isn’t contained in the dictionary, it will appear with missing values.

![title](img/axis.png)

In [111]:
# Define a dictionary with data for Italian cities and their populations
cities = {
    'city': ['Rome', 'Milan', 'Naples', 'Turin', 'Palermo', 'Genoa', 'Bologna'],
    'population': [2_872_800, 1_378_689, 967_069, 885_265, 678_492, 580_097, 391_374],
    'area': [1287.36, 181.67, 117.27, 130.17, 158.9, 240.29, 140.86]
}

# Create a pandas DataFrame using the dictionary
df = pd.DataFrame(cities, columns = ['city', 'area', 'population'])

# Print the DataFrame
print(df)

      city     area  population
0     Rome  1287.36     2872800
1    Milan   181.67     1378689
2   Naples   117.27      967069
3    Turin   130.17      885265
4  Palermo   158.90      678492
5    Genoa   240.29      580097
6  Bologna   140.86      391374

For a large dataset, it can be useful to inspect the first or last rows using the functions `pd.head()` and `pd.tail()`, respectively.

In [112]:
# Inspecting the first five rows
print("The first five rows")
print(df.head(), '\n')

# Inspecting the last five rows
print("The last five rows")
print(df.tail())

The first five rows
      city     area  population
0     Rome  1287.36     2872800
1    Milan   181.67     1378689
2   Naples   117.27      967069
3    Turin   130.17      885265
4  Palermo   158.90      678492

The last five rows
      city    area  population
2   Naples  117.27      967069
3    Turin  130.17      885265
4  Palermo  158.90      678492
5    Genoa  240.29      580097
6  Bologna  140.86      391374

## reindex

An important method on Pandas is `reindex`, which creates a new object with the values rearranged to match the new index.

In [113]:
# Creating a DataFrame (df) using pd.DataFrame() constructor
# The DataFrame has two columns 'A' and 'B' with values generated using np.arange() function for numeric sequences
# The index parameter sets the row labels of the DataFrame
df = pd.DataFrame({'A':np.arange(0,3), 'B':np.arange(4,7)}, index= ['b','c','a'])

# Printing the DataFrame df to the console
print(df)

# Creating a new DataFrame (df2) by reindexing df with a new index ['a', 'b', 'c', 'd']
# Rows that don't have corresponding labels in the original DataFrame will be filled with NaN (Not a Number)
df2 = df.reindex(['a', 'b', 'c', 'd'])

# Printing the reindexed DataFrame df2 to the console
print("\nCreating a new DataFrame (df2) by reindexing df with a new index")
print(df2)

   A  B
b  0  4
c  1  5
a  2  6

Creating a new DataFrame (df2) by reindexing df with a new index
     A    B
a  2.0  6.0
b  0.0  4.0
c  1.0  5.0
d  NaN  NaN

## Dropping elements from a series or a dataframe

In many cases, you may need to drop elements from a series or a dataframe. The `drop` method allows you to delete the entries (index or columns) and retrieve the dataframe with the specified index or column labels removed.

In [114]:
# Defining column names
columns = ['Capital', 'Population', 'GDP']

# Creating a dictionary containing data
data = {'Italy': ['Rome', 58997201, 2090448e+06], 
        'Japan': ['Tokyo', 126226568, 4971929e+06], 
        'United States': ['Washington D.C.', 341139019, 27675271e+06], 
        'French': ['Paris', 65554051, 2936702e+06]
       }

# Creating a DataFrame from the dictionary, setting the index to be the keys of the dictionary
df = pd.DataFrame.from_dict(data, orient='index', columns=columns)

# Dropping rows with index 'Japan' and 'French'
new_df = df.drop(['Japan', 'French']) 
print(new_df,'\n')

# Dropping columns 'Population' and 'GDP'
new_df = df.drop(['Population', 'GDP'], axis='columns')
print(new_df,'\n')

# Dropping row with index 'Italy' and column 'GDP'
new_df = df.drop(index='Italy', columns='GDP')
print(new_df,'\n')

                       Capital  Population           GDP
Italy                     Rome    58997201  2.090448e+12
United States  Washington D.C.   341139019  2.767527e+13

                       Capital
Italy                     Rome
Japan                    Tokyo
United States  Washington D.C.
French                   Paris

                       Capital  Population
Japan                    Tokyo   126226568
United States  Washington D.C.   341139019
French                   Paris    65554051

## Indexing, selection and filtering

Pandas indexing is a powerful feature that allows you to access and manipulate data within DataFrames and Series efficiently. Here are some key points about pandas indexing:

1. **Label-based Indexing**: Pandas primarily uses label-based indexing for accessing data. This means that you can access elements using row and column labels rather than integer positions.

2. **Indexing in DataFrames**: In DataFrames, indexing can be applied to both rows and columns. You can use row labels (index) and column labels to access specific data points, slices of rows or columns, or even subsets of the DataFrame.

3. **Index Objects**: Indexes in pandas are objects that store the axis labels (row or column labels). These index objects are immutable, meaning they cannot be changed once created. This immutability ensures the integrity of the data structures.

4. **Hierarchical Indexing**: Pandas supports hierarchical indexing, also known as multi-level indexing. It allows you to have multiple levels of row or column labels, providing a way to represent higher-dimensional data in a DataFrame.

5. **Selection Methods**: Pandas provides various methods for indexing and selecting data, including `loc[]`, `iloc[]`, and `at[]`. 
   - `loc[]` is used for label-based indexing, allowing you to select data based on row and column labels.
   - `iloc[]` is used for positional indexing, allowing you to select data based on integer positions.
   - `at[]` is similar to `loc[]` but provides faster access to a single scalar value.

6. **Boolean Indexing**: You can use boolean arrays or boolean conditions to filter rows or columns in a DataFrame based on certain criteria. This is often referred to as boolean indexing.

7. **Setting and Resetting Index**: You can set or reset the index of a DataFrame using `set_index()` and `reset_index()` methods, respectively. This allows you to change the row labels or move the existing index into a column.

Understanding pandas indexing is crucial for efficient data manipulation and analysis, as it provides a flexible and intuitive way to access and modify data in DataFrames and Series.

![title](img/indexing_options.png)

In [115]:
# Defining column names
columns = ['Capital', 'Population', 'GDP']

# Creating a dictionary containing data
data = {'Italy': ['Rome', 58997201, 2090448e+06], 
        'Japan': ['Tokyo', 126226568, 4971929e+06], 
        'United States': ['Washington D.C.', 341139019, 27675271e+06], 
        'France': ['Paris', 65554051, 2936702e+06],
        'Unite Kingdom': ['London', 67596281, 3495261e+06],
        'Brazil': ['Brasília', 205375043, 2331391e+06],
        'China': ['Beijing', 1409670000, 18532633e+06],
        'India': ['New Delhi', 1428627663, 3937011e+06],
        'Germany': ['Berlin', 84669326, 4591100e+06],
       }

# Creating a DataFrame from the dictionary, setting the index to be the keys of the dictionary
df = pd.DataFrame.from_dict(data, orient='index', columns=columns)
print(df, '\n')

# Selecting the 'Population' column
print(df['Population'], '\n')

# Selecting the 'GDP' and 'Capital' columns
print(df[['Capital','GDP']], '\n')

# Selecting the 'Italy' and 'French' rows
print(df.loc[['Italy', 'France']], '\n')

# Selecting the population and GDP of 'Italy' and 'French'
print(df.loc[['Italy', 'France'],['Population', 'GDP']], '\n')

# Selecting the first two rows
print(df.iloc[:2])

                       Capital  Population           GDP
Italy                     Rome    58997201  2.090448e+12
Japan                    Tokyo   126226568  4.971929e+12
United States  Washington D.C.   341139019  2.767527e+13
France                   Paris    65554051  2.936702e+12
Unite Kingdom           London    67596281  3.495261e+12
Brazil                Brasília   205375043  2.331391e+12
China                  Beijing  1409670000  1.853263e+13
India                New Delhi  1428627663  3.937011e+12
Germany                 Berlin    84669326  4.591100e+12

Italy              58997201
Japan             126226568
United States     341139019
France             65554051
Unite Kingdom      67596281
Brazil            205375043
China            1409670000
India            1428627663
Germany            84669326
Name: Population, dtype: int64

                       Capital           GDP
Italy                     Rome  2.090448e+12
Japan                    Tokyo  4.971929e+12
United States  Washington D.C.  2.767527e+13
France                   Paris  2.936702e+12
Unite Kingdom           London  3.495261e+12
Brazil                Brasília  2.331391e+12
China                  Beijing  1.853263e+13
India                New Delhi  3.937011e+12
Germany                 Berlin  4.591100e+12

       Capital  Population           GDP
Italy     Rome    58997201  2.090448e+12
France   Paris    65554051  2.936702e+12

        Population           GDP
Italy     58997201  2.090448e+12
France    65554051  2.936702e+12

      Capital  Population           GDP
Italy    Rome    58997201  2.090448e+12
Japan   Tokyo   126226568  4.971929e+12

`loc` and `iloc` are both indexing methods in pandas, but they have different use cases and behaviors:

1. **`loc`**:
   - `loc` is primarily label-based indexing, meaning it selects data based on row and column labels.
   - It is used to access a group of rows and columns by label(s) or a boolean array.
   - With `loc`, you specify row and column labels explicitly.
   - The syntax for `loc` is `df.loc[row_label, column_label]`.
   - It is inclusive for both the start and stop labels when slicing.
   - `loc` is useful when you know the label(s) of the rows and columns you want to select.

2. **`iloc`**:
   - `iloc` is positional indexing, meaning it selects data based on integer positions.
   - It is used to access a group of rows and columns by integer positions.
   - With `iloc`, you specify row and column positions explicitly, similar to array indexing in Python.
   - The syntax for `iloc` is `df.iloc[row_position, column_position]`.
   - It is exclusive for the stop position when slicing, following Python's convention.
   - `iloc` is useful when you want to select data by integer position, regardless of the row and column labels.

In [116]:
# Selecting 'GDP' of countries with more than 60e+06 population
print(df[df.Population > 60e+06]['GDP'])

Japan            4.971929e+12
United States    2.767527e+13
France           2.936702e+12
Unite Kingdom    3.495261e+12
Brazil           2.331391e+12
China            1.853263e+13
India            3.937011e+12
Germany          4.591100e+12
Name: GDP, dtype: float64

The provided code snippet selects the 'GDP' of countries with a population greater than 60 million using boolean indexing. 

- `df.Population > 60e+06`: This creates a boolean mask where each element in the 'Population' column of the DataFrame `df` is compared to 60 million. It returns `True` for countries with a population greater than 60 million and `False` otherwise.
- `df[df.Population > 60e+06]`: This uses boolean indexing to filter the rows of the DataFrame `df` where the condition (population greater than 60 million) is `True`. It selects only the rows that meet the condition.
- `['GDP']`: This selects the 'GDP' column from the filtered DataFrame, resulting in a Series containing the GDP values of countries with a population greater than 60 million.

## Sorting

Sorting rows or columns of a dataset by some criterion is another important built-in operation. 

The method `sort_index` returns a new sorted object that matches the given criteria. In contrast, the method `sort_values` sorts the object by its own values.

In [117]:
print(df)

                       Capital  Population           GDP
Italy                     Rome    58997201  2.090448e+12
Japan                    Tokyo   126226568  4.971929e+12
United States  Washington D.C.   341139019  2.767527e+13
France                   Paris    65554051  2.936702e+12
Unite Kingdom           London    67596281  3.495261e+12
Brazil                Brasília   205375043  2.331391e+12
China                  Beijing  1409670000  1.853263e+13
India                New Delhi  1428627663  3.937011e+12
Germany                 Berlin    84669326  4.591100e+12

In [118]:
sorted_df_by_row = df.sort_index(axis=0)

# Sorted dataframe by index (axis=0)
print(sorted_df_by_row)

                       Capital  Population           GDP
Brazil                Brasília   205375043  2.331391e+12
China                  Beijing  1409670000  1.853263e+13
France                   Paris    65554051  2.936702e+12
Germany                 Berlin    84669326  4.591100e+12
India                New Delhi  1428627663  3.937011e+12
Italy                     Rome    58997201  2.090448e+12
Japan                    Tokyo   126226568  4.971929e+12
Unite Kingdom           London    67596281  3.495261e+12
United States  Washington D.C.   341139019  2.767527e+13

In [119]:
sorted_df_by_col = df.sort_index(axis=1)

# Sorted dataframe by column (axis=1)
print(sorted_df_by_col)

                       Capital           GDP  Population
Italy                     Rome  2.090448e+12    58997201
Japan                    Tokyo  4.971929e+12   126226568
United States  Washington D.C.  2.767527e+13   341139019
France                   Paris  2.936702e+12    65554051
Unite Kingdom           London  3.495261e+12    67596281
Brazil                Brasília  2.331391e+12   205375043
China                  Beijing  1.853263e+13  1409670000
India                New Delhi  3.937011e+12  1428627663
Germany                 Berlin  4.591100e+12    84669326

In [120]:
sorted_df_by_values = df['GDP'].sort_values()

# Sorted the 'GDP' series by its own value
print(sorted_df_by_values)

# To sort the entire dataframe and not only the series
sorted_df_by_values = df.sort_values('GDP')
print(sorted_df_by_values)

Italy            2.090448e+12
Brazil           2.331391e+12
France           2.936702e+12
Unite Kingdom    3.495261e+12
India            3.937011e+12
Germany          4.591100e+12
Japan            4.971929e+12
China            1.853263e+13
United States    2.767527e+13
Name: GDP, dtype: float64
                       Capital  Population           GDP
Italy                     Rome    58997201  2.090448e+12
Brazil                Brasília   205375043  2.331391e+12
France                   Paris    65554051  2.936702e+12
Unite Kingdom           London    67596281  3.495261e+12
India                New Delhi  1428627663  3.937011e+12
Germany                 Berlin    84669326  4.591100e+12
Japan                    Tokyo   126226568  4.971929e+12
China                  Beijing  1409670000  1.853263e+13
United States  Washington D.C.   341139019  2.767527e+13

In [121]:
# To sort for multiple values

sorted_df_by_values = df.sort_values(['Population', 'GDP'], ascending=False)
print(sorted_df_by_values)

                       Capital  Population           GDP
India                New Delhi  1428627663  3.937011e+12
China                  Beijing  1409670000  1.853263e+13
United States  Washington D.C.   341139019  2.767527e+13
Brazil                Brasília   205375043  2.331391e+12
Japan                    Tokyo   126226568  4.971929e+12
Germany                 Berlin    84669326  4.591100e+12
Unite Kingdom           London    67596281  3.495261e+12
France                   Paris    65554051  2.936702e+12
Italy                     Rome    58997201  2.090448e+12