In [2]:
import pandas as pd

In [3]:
populations = {"Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6},
               "Nevada": {2001: 2.4, 2002: 2.9}}
df = pd.DataFrame(populations)
df

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

In [31]:
df["Nevada"][:]

2000    NaN
2001    2.4
2002    2.9
Name: Nevada, dtype: float64

In [24]:
pdata = {"Ohio": df["Ohio"][:-1],
         "Nevada": df["Nevada"][:2]}
pdata

{'Ohio': 2000    1.5
 2001    1.7
 Name: Ohio, dtype: float64,
 'Nevada': 2000    NaN
 2001    2.4
 Name: Nevada, dtype: float64}

In [7]:
l = list(range(0,10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
l[-1]

9